body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: -webkit-linear-gradient(to bottom, #2bf7f7, #50be95);
  background: linear-gradient(to bottom, #2bf7f7, #50be95); }

.contenedor {
  display: block;
  width: 100%;
  padding: 15px; }

.formulario {
  margin-top: 150px;
  padding: 10px; }

h1 {
  text-align: right;
  color: #1a2537;
  font-size: 40px; }

.button {
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background: #1a2537;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer; }
  .button:hover {
    background: cadetblue; }

p {
  text-align: center; }

@media(min-width:800px) {
  .formulario {
    margin: auto;
    width: 500px;
    margin-top: 150px;
    border-radius: 2%; } }

/*# sourceMappingURL=login.css.map */
