body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: -webkit-linear-gradient(to bottom, #2bf7f7, #50be95);
  background: linear-gradient(to bottom, #2bf7f7, #50be95); }

* {
  box-sizing: border-box; }

.contenedor {
  display: block;
  width: 100%;
  padding: 15px; }

.formulario {
  justify-content: center;
  margin-top: 150px;
  padding: 20px; }

h1 {
  text-align: center;
  color: #2c9fc2;
  font-size: 40px; }

.button {
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background: #2c9fc2;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer; }
  .button:hover {
    background: cadetblue; }

@media(min-width:768px) {
  .formulario {
    margin: auto;
    width: 500px;
    margin-top: 90px;
    border-radius: 2%; } }

/*# sourceMappingURL=Register.css.map */
