body {
  position: absolute;
  height: 300px;
  width: 100%;
  background: -webkit-linear-gradient(to bottom, rgba(43, 247, 247, 0.788), #50be96c0);
  background: linear-gradient(to bottom, rgba(43, 247, 247, 0.788), rgba(80, 190, 150, 0.774)); }

.header .textos-header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; }

.textos-header h1 {
  font-size: 50px;
  color: #fff; }

.textos-header h2 {
  font-size: 30px;
  font-weight: 300px;
  color: #fff; }

.title {
  width: 10%;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 45px;
  color: #248d76; }

p {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 30px;
  color: #248d76;
  padding: 5px; }

img {
  width: 100%;
  height: 500px; }

aside {
  display: inline-block;
  width: 300px;
  min-height: 400px;
  background: #b8b7b79a;
  float: right; }

.footer {
  background: -webkit-linear-gradient(to bottom, rgba(43, 247, 247, 0.788), #50be96c0);
  background: linear-gradient(to bottom, rgba(43, 247, 247, 0.788), rgba(80, 190, 150, 0.774));
  margin-top: 1rem;
  padding: 24px 0px 0px 0px; }

.footer-socials {
  background: var(--primary);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  color: #ffffff;
  margin-bottom: 1rem; }

.portafolio {
  width: 10%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 45px;
  color: #248d76; }

#map {
  height: 500px;
  width: 300px; }

.img-productos {
  width: 50%;
  height: 250px; }

.formulario {
  align-content: center;
  padding: 50px; }

h1 {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 30px;
  color: #248d76;
  padding: 5px; }

h3 {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 15px;
  color: #248d76;
  padding: 5px; }

h2 {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 20px;
  color: #248d76;
  padding: 5px; }

.parf {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 20px;
  color: #248d76;
  padding: 5px; }

.pAside {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 15px;
  color: #248d76;
  padding: 5px; }

.footer-socials {
  background: var(--primary);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  color: #ffffff;
  margin-bottom: 1rem; }

/*# sourceMappingURL=styles.css.map */
